<main id="main" class="main">
  <div class="pagetitle">
    <h1>Kategori</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/login']">Home</a></li>
        <li class="breadcrumb-item active">Kategori</li>
      </ol>
    </nav>
  </div>
  <section class="section dashboard">
    <div class="row">
      <div class="col-12">
        <button
          style="margin-right: 8px; margin-bottom: 12px"
          type="button"
          class="btn btn-primary rounded-pill"
          (click)="openModal(template)"
        >
          <i class="bi bi-plus-lg"></i>
          Tambah Kategori
        </button>

        <ng-template #template>
          <div class="modal-header">
            <h5 class="modal-title">Tambah Kategori</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
              (click)="modalRef?.hide()"
            ></button>
          </div>
          <div class="modal-body">
            <form
              [formGroup]="formAdd"
              (ngSubmit)="doAddKategori()"
              class="row g-3"
            >
              <div class="col-md-12">
                <label for="inputNamaKategori" class="form-label"
                  >Nama Kategori</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="inputNamaKategori"
                  placeholder="Masukkan nama kategori"
                  formControlName="namaKategori"
                  name="namaKategori"
                  [ngClass]="
                    errorControl['namaKategori'].valid
                      ? 'is-valid'
                      : errorControl['namaKategori'].dirty ||
                        errorControl['namaKategori'].touched
                      ? 'is-invalid'
                      : ''
                  "
                />
                <ng-container
                  *ngIf="
                    (errorControl['namaKategori'].dirty ||
                      errorControl['namaKategori'].touched) &&
                    errorControl['namaKategori'].errors
                  "
                >
                  <div
                    class="text-danger"
                    *ngIf="errorControl['namaKategori'].errors['required']"
                  >
                    Please enter the category name.
                  </div>
                </ng-container>
              </div>
              <div class="col-12">
                <label for="inputGambarKategori" class="form-label"
                  >Gambar</label
                >
                <input
                  type="file"
                  class="form-control"
                  id="inputGambarKategori"
                  accept="image/png, image/jpeg, image/gif"
                  (change)="showPreview($event)"
                  placeholder="Masukkan link gambar kategori"
                  formControlName="gambarKategori"
                  name="gambarKategori"
                  [ngClass]="
                    errorControl['gambarKategori'].valid
                      ? 'is-valid'
                      : errorControl['gambarKategori'].dirty ||
                        errorControl['gambarKategori'].touched
                      ? 'is-invalid'
                      : ''
                  "
                />
                <ng-container
                  *ngIf="
                    (errorControl['gambarKategori'].dirty ||
                      errorControl['gambarKategori'].touched) &&
                    errorControl['gambarKategori'].errors
                  "
                >
                  <div
                    class="text-danger"
                    *ngIf="errorControl['gambarKategori'].errors['required']"
                  >
                    Please enter the category picture.
                  </div>
                </ng-container>
                <ng-container *ngIf="gambarKategori">
                  <img
                    src="{{ gambarKategori }}"
                    alt=""
                    width="200"
                    height="200"
                  />
                </ng-container>
              </div>

              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                  (click)="modalRef?.hide()"
                >
                  Tutup
                </button>
                <button
                  type="submit"
                  class="btn btn-primary"
                  [disabled]="!formAdd.valid"
                  data-bs-dismiss="modal"
                  (click)="modalRef?.hide()"
                >
                  Simpan
                </button>
              </div>
            </form>
          </div>
        </ng-template>

        <div class="card recent-sales overflow-auto">
          <div class="card-body">
            <!-- <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"
              ><i class="bi bi-three-dots"></i
            ></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Filter</h6>
              </li>
              <li><a class="dropdown-item" href="#">Today</a></li>
              <li><a class="dropdown-item" href="#">This Month</a></li>
              <li><a class="dropdown-item" href="#">This Year</a></li>
            </ul>
          </div> -->

            <h5 class="card-title">Kategori <span>| Semua Kategori</span></h5>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nama Kategori</th>
                  <th scope="col">Gambar</th>
                  <th scope="col">Aksi</th>
                </tr>
              </thead>
              <tbody>
                <!-- <tr *ngFor="let isiKategori of kategori"> -->
                <tr *ngFor="let isiKategori of kategori">
                  <th scope="row">
                    <a href="#">{{ isiKategori.id }}</a>
                    <!-- <a href="#">#1</a> -->
                  </th>
                  <td>{{ isiKategori.namaKategori }}</td>
                  <!-- <td>Mama</td> -->
                  <td>
                    <a href="#"
                      ><img
                        src="{{ isiKategori.gambarKategori }}"
                        alt=""
                        width="70"
                        height="70"
                    /></a>
                    <!-- <a href="#"
                      ><img
                        src="assets/img/card.jpg"
                        alt=""
                        width="70"
                        height="70"
                    /></a> -->
                  </td>
                  <td>
                    <button
                      style="margin-right: 8px"
                      type="button"
                      class="btn btn-outline-primary rounded-pill"
                      data-bs-toggle="modal"
                      data-bs-target="#verticalycenterededit"
                    >
                      Edit
                    </button>
                    <div
                      class="modal fade"
                      id="verticalycenterededit"
                      tabindex="-1"
                    >
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">Edit Kategori</h5>
                            <button
                              type="button"
                              class="btn-close"
                              data-bs-dismiss="modal"
                              aria-label="Close"
                            ></button>
                          </div>
                          <div class="modal-body">
                            <form class="row g-3">
                              <div class="col-md-12">
                                <label
                                  for="inputNamaKategori"
                                  class="form-label"
                                  >Nama Kategori</label
                                >
                                <input
                                  type="text"
                                  class="form-control"
                                  id="inputNamaKategori"
                                  placeholder="Masukkan nama kategori"
                                />
                              </div>
                              <div class="col-12">
                                <label
                                  for="inputGambarKategori"
                                  class="form-label"
                                  >Gambar</label
                                >
                                <input
                                  type="file"
                                  accept="image/png, image/jpeg, image/gif"
                                  class="form-control"
                                  id="inputGambarKategori"
                                  (change)="showPreview($event)"
                                  placeholder="Masukkan link gambar kategori"
                                />
                                <ng-container *ngIf="gambarKategori">
                                  <img
                                    src="{{ gambarKategori }}"
                                    alt=""
                                    width="200"
                                    height="200"
                                  />
                                </ng-container>
                              </div>
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button
                              type="button"
                              class="btn btn-secondary"
                              data-bs-dismiss="modal"
                            >
                              Tutup
                            </button>
                            <button type="button" class="btn btn-primary">
                              Simpan Perubahan
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button
                      type="button"
                      class="btn btn-outline-danger rounded-pill"
                      data-bs-toggle="modal"
                      data-bs-target="#verticalycenteredhapus"
                    >
                      Hapus
                    </button>
                    <div
                      class="modal fade"
                      id="verticalycenteredhapus"
                      tabindex="-1"
                    >
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">Hapus Kategori</h5>
                            <button
                              type="button"
                              class="btn-close"
                              data-bs-dismiss="modal"
                              aria-label="Close"
                            ></button>
                          </div>
                          <div class="modal-body">
                            <h6>
                              Apakah Anda yakin ingin menghapus kategori ini?
                            </h6>
                          </div>
                          <div class="modal-footer">
                            <button
                              type="button"
                              class="btn btn-secondary"
                              data-bs-dismiss="modal"
                            >
                              Tutup
                            </button>
                            <button type="button" class="btn btn-danger">
                              Ya, Saya Yakin
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
