<button type="button" class="btn btn-primary" (click)="doClick('Pertamax')">Pertamax</button>&nbsp;
    <button type="button" class="btn btn-secondary" (click)="doClick('Pertalite')">Pertalite</button>&nbsp;
    <button type="button" class="btn btn-success" (click)="doClick('Solar')">Solar</button>&nbsp;
    <button type="button" class="btn btn-danger" (click)="doClick('Pertamax Plus')">Pertamax Plus</button><br><br>

    <h4>Bensin yang di pilih: <b>{{ tipe }}</b></h4>
    <h4>Harga: <b>{{ harga }}</b></h4><br>

    <!-- <form [formGroup]="bensinForm">
        <div class="form-group">
            <label for="exampleInputEmail1">Jumlah Liter</label>
            <input type="number" formControlName="liter" class="form-control" placeholder="Masukkan jumlah liter" [(ngModel)]="liter" name="liter">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Jumlah Bayar</label>
            <input type="number" formControlName="bayar" class="form-control" placeholder="Masukkan jumlah bayar" [(ngModel)]="bayar" name="bayar">
        </div>
    </form><br> -->

    <button type="button" class="btn btn-dark" (click)="doHitung()">Hitung</button><br><br>

    <h5>Harga yang dibayar: <b>{{ harga_bayar }}</b></h5>
    <h5>Uang kembali: <b>{{ kembali }}</b></h5>