<main id="main" class="main">
  <div class="pagetitle">
    <h1>Users</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/login']">Home</a></li>
        <li class="breadcrumb-item active">Users</li>
      </ol>
    </nav>
  </div>
  <section class="section dashboard">
    <div class="row">
      <div class="col-12">
        <!-- <button
          style="margin-right: 8px; margin-bottom: 12px"
          type="button"
          class="btn btn-primary"
          (click)="openModal(template)"
        >
          Add Users
        </button> -->
        <div class="card recent-sales overflow-auto">
          <!-- <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"
              ><i class="bi bi-three-dots"></i
            ></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Filter</h6>
              </li>
              <li><a class="dropdown-item" href="#">Today</a></li>
              <li><a class="dropdown-item" href="#">This Month</a></li>
              <li><a class="dropdown-item" href="#">This Year</a></li>
            </ul>
          </div> -->
          <div class="card-body">
            <h5 class="card-title">Users <span>| All Time</span></h5>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Id_User</th>
                  <th scope="col">Username</th>
                  <th scope="col">Fullname</th>
                  <th scope="col">Email</th>
                  <th scope="col">No. Hp</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let user of users">
                  <tr>
                    <th scope="row">
                      <a href="#">{{ user.id_user }}</a>
                    </th>
                    <td>{{ user.username }}</td>
                    <td>
                      <a href="#" class="text-primary">{{ user.fullname }}</a>
                    </td>
                    <td>{{ user.email }}</td>
                    <td>
                      <a href="#" class="text-primary">{{ user.noHp }}</a>
                    </td>
                    
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
