<!-- <div><app-sidebar></app-sidebar></div> -->

<!-- ngebuka component yg ada di admin.module.ts -->
<!-- <router-outlet></router-outlet> -->
<!-- <div class="c-wrapper c-fixed-components"> -->
<!-- <app-navbar></app-navbar>
<app-dashboard></app-dashboard> -->
<!-- </div> -->

<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<router-outlet></router-outlet>
<app-footer></app-footer>
<!-- <app-dashboard></app-dashboard> -->
