<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
              <p class="text-white-50 mb-5"></p>
              <h1> </h1>

              <form class="row g - 3 needs - validation" [formGroup]="formRegister" (ngSubmit)="doRegister()"  >

              <div class="form-outline form-white mb-4">
                <input type="email" formControlName="username" id="typeEmailX"  name="username" class="form-control form-control-lg" />
                <label class="form-label" for="typeEmailX">Username</label>
                <ng-container *ngIf="(errorControl['username'].dirty || errorControl['username'].touched) && errorControl['username'].errors">
                  <div *ngIf="errorControl['username'].errors['required']">Please enter your username.</div>
                </ng-container>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="password" id="typePasswordX" formControlName="password" name="password" class="form-control form-control-lg" />
                <label class="form-label" for="typePasswordX">Password</label>
                <ng-container *ngIf="(errorControl['password'].dirty || errorControl['password'].touched) && errorControl['password'].errors">
                  <div *ngIf="errorControl['password'].errors['required']">Please enter your password.</div>
                </ng-container>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="fullname" id="typeFullnameX" formControlName="fullname" name="fullname" class="form-control form-control-lg" />
                <label class="form-label" for="typeFullnameX">Fullname</label>
                <ng-container *ngIf="(errorControl['fullname'].dirty || errorControl['fullname'].touched) && errorControl['fullname'].errors">
                  <div *ngIf="errorControl['fullname'].errors['required']">Please enter your fullname.</div>
                </ng-container>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="email" id="typeEmailX" formControlName="email" name="email" class="form-control form-control-lg" />
                <label class="form-label" for="typeEmailX">Email</label>
                <ng-container *ngIf="(errorControl['email'].dirty || errorControl['email'].touched) && errorControl['email'].errors">
                  <div *ngIf="errorControl['email'].errors['required']">Please enter your email.</div>
                </ng-container>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="role" id="typeEmailX" formControlName="role" name="isAdmin" class="form-control form-control-lg" />
                <label class="form-label" for="typeEmailX">Role</label>
                <ng-container *ngIf="(errorControl['role'].dirty || errorControl['role'].touched) && errorControl['role'].errors">
                  <div *ngIf="errorControl['role'].errors['required']">Please enter your role.</div>
                </ng-container>
              </div>

              <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>

              <button class="btn btn-outline-light btn-lg px-5" type="submit"[disabled]="!formRegister.valid">Sign Up</button>

            </form>

              <div class="d-flex justify-content-center text-center mt-4 pt-1">
                <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
              </div>

            </div>

            <div>
              <p class="mb-0">Don't have an account? <a href="#!" class="text-white-50 fw-bold">Sign Up</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>