<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-heading">Menu</li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/admin/dashboard']"
          routerLinkActive="router-link-active"
        >
          <i class="bi bi-grid"></i> <span>Dashboard</span>
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/admin/kategori']"
          routerLinkActive="router-link-active"
        >
          <i class="bi bi-menu-button-wide"></i><span>Kategori Olahraga</span>
        </a>
      </li>


      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/admin/kategori']"
          routerLinkActive="router-link-active"
        >
          <i class="bi bi-menu-button-wide"></i><span>Kategori</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/admin/users']"
          routerLinkActive="router-link-active"
        >
          <i class="bi bi-person"></i><span>User</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/admin/users']"
          routerLinkActive="router-link-active"
        >
          <i class="bi bi-person"></i><span>Info User Pemesanan</span>
        </a>
      </li>
      <br />
      <li class="nav-heading">Configuration</li>
  
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/admin/settings']"
          routerLinkActive="router-link-active"
        >
          <i class="bi bi-gear"></i><span>Settings</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/login']"
          routerLinkActive="router-link-active"
        >
          <i class="bi bi-box-arrow-left"></i> <span>Logout</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link collapsed"
          data-bs-target="#forms-nav"
          data-bs-toggle="collapse"
        >
          <i class="bi bi-journal-text"></i><span>Product</span
          ><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul
          id="forms-nav"
          class="nav-content collapse"
          data-bs-parent="#sidebar-nav"
          [routerLink]="['/admin/category']"
          routerLinkActive="router-link-active"
        >
          <li>
            <a routerLink="/form-elements">
              <i class="bi bi-circle"></i><span>Category</span>
            </a>
          </li>
          <li>
            <a routerLink="/form-layouts">
              <i class="bi bi-circle"></i><span>List Product</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </aside>
  