<main id="main" class="main">
  <div class="pagetitle">
    <h1>Welcome, Lapangan Bultang Asoy</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/login']">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div>
  <section class="section dashboard">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">Lapangan 1 </h5>
                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-person"></i>
                  </div>
                  <div class="ps-3">
                    <h6>08:00<span class="text-success small pt-1 fw-bold" style="margin-left: 40px;">&#9989;</span></h6>
                    <h6>09:00<span class="text-success small pt-1 fw-bold" style="margin-left: 40px;">&#9989;</span></h6>
                    <h6>10:00<span class="text-success small pt-1 fw-bold" style="margin-left: 40px;">&#9989;</span></h6>
                    <h6>11:00</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">Lapangan 2 </h5>
                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-person"></i>
                  </div>
                  <div class="ps-3">
                    <h6>08:00<span class="text-success small pt-1 fw-bold" style="margin-left: 40px;">&#9989;</span></h6>
                    <h6>09:00<span class="text-success small pt-1 fw-bold" style="margin-left: 40px;">&#9989;</span></h6>
                    <h6>10:00</h6>
                    <h6>11:00<span class="text-success small pt-1 fw-bold" style="margin-left: 40px;">&#9989;</span></h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">Lapangan 3 </h5>
                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-person"></i>
                  </div>
                  <div class="ps-3">
                    <h6>08:00</h6>
                    <h6>09:00</h6>
                    <h6>10:00<span class="text-success small pt-1 fw-bold" style="margin-left: 40px;">&#9989;</span></h6>
                    <h6>11:00<span class="text-success small pt-1 fw-bold" style="margin-left: 40px;">&#9989;</span></h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">Lapangan 4 </h5>
                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-person"></i>
                  </div>
                  <div class="ps-3">
                    <h6>08:00</h6>
                    <h6>09:00<span class="text-success small pt-1 fw-bold" style="margin-left: 40px;">&#9989;</span></h6>
                    <h6>10:00<span class="text-success small pt-1 fw-bold" style="margin-left: 40px;">&#9989;</span></h6>
                    <h6>11:00</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">Lapangan 5 </h5>
                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-person"></i>
                  </div>
                  <div class="ps-3">
                    <h6>08:00<span class="text-success small pt-1 fw-bold" style="margin-left: 40px;">&#9989;</span></h6>
                    <h6>09:00</h6>
                    <h6>10:00<span class="text-success small pt-1 fw-bold" style="margin-left: 40px;">&#9989;</span></h6>
                    <h6>11:00</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">Lapangan 6 </h5>
                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-person"></i>
                  </div>
                  <div class="ps-3">
                    <h6>08:00<span class="text-success small pt-1 fw-bold" style="margin-left: 40px;">&#9989;</span></h6>
                    <h6>09:00</h6>
                    <h6>10:00</h6>
                    <h6>11:00</h6>
                    <!-- <span class="text-success small pt-1 fw-bold">12%</span>
                    <span class="text-muted small pt-2 ps-1">increase</span> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card">
              <!-- <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"
                  ><i class="bi bi-three-dots"></i
                ></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>
                  <li><a class="dropdown-item" href="#">Today</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div> -->
              <!-- <div class="card-body">
                <h5 class="card-title">Reports <span>/All Time</span></h5>
                <div id="reportsChart"></div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
