<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5" style="width: auto; height: 30px; margin-right: 0px; margin-bottom: 0cm; margin-left: 8cm;" >

    <footer style="background-color: #150da9;">
      <div class="container p-4">
        <div class="row">
          <div class="col-lg-6 col-md-12 mb-4">
            <h5 class="mb-3 text-dark">footer content</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
              molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
              voluptatem veniam, est atque cumque eum delectus sint!
            </p>
          </div>
          <div class="col-lg-3 col-md-6 mb-4">
            <h5 class="mb-3 text-dark">links</h5>
            <ul class="list-unstyled mb-0">
              <li class="mb-1">
                <a href="#!" style="color: #ffffff;">FAQ</a>
              </li>
              <li class="mb-1">
                <a href="#!" style="color: #ffffff;">Classes</a>
              </li>
              <li class="mb-1">
                <a href="#!" style="color: #ffffff;">Pricing</a>
              </li>
              <li>
                <a href="#!" style="color: #ffffff;">Safety</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-4">
            <h5 class="mb-1 text-dark">opening hours</h5>
            <table class="table" style="border-color: #ffffff;">
              <tbody>
                <tr>
                  <td>Mon - Fri:</td>
                  <td>8am - 9pm</td>
                </tr>
                <tr>
                  <td>Sat - Sun:</td>
                  <td>8am - 1am</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="text-center p-3" style="background-color: rgba(255, 255, 255, 0.2);">
        © 2020 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    
  </div>
  <!-- End of .container -->